/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* 

Fonts family 

font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/
:root{
    --font-inter: 'Inter', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
}
/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #aaaaaa48;
}

img{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}

/* Header area */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
}
.navbar .logo{
    font-family: var(--font-poppins);
    font-size: 24px;
    color: #3A3A3A;
    font-weight: 700;
}
.navbar .menu{}
.navbar .menu ul{
    display: flex;
    justify-content: end;
}
.navbar .menu ul li{
    list-style: none;
    padding-left: 20px;
}
.navbar .menu ul li a{
    text-decoration: none;
    font-family: var(--font-poppins);
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

/* influencer-show */

.influencer-show{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.influencer-text{
    width: 49%;
}
.influencer-text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
.influencer-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #3A3A3A;
    margin: 20px 0;
}
.influencer-text button{
    background: #E02C6D;
    border-radius: 40px;
    padding: 20px;
    border: none;
    color: #fff;
    margin: 16px 0;
    
 
}
.influencer-text button a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.influencer-text button a span{
    font-size: 20px;
    padding-left: 5px;

}

.influencer-img{
    width: 49%;
    background: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.influencer-img img{
    width: 90%;
    padding: 20px;

}

/* brands */

.brands{
    margin: 50px 0;
}

.brands .container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}


/* popular-collection-area */

.popular-collection-area{
    padding: 80px 0;
}
.section-title{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.popular-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}
.popular-item{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 0px;
    border-radius: 5px;
}
.popular-item-img{}
.popular-item-img img{}
.popular-item-details{}
.popular-item-details h3{
    color: #18191F;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 28px;
    margin-top: 10px;
}
.popular-item-details h5{
    font-family: var(--font-inter);
    font-size: 28px;
    font-weight: 400;
    display: block; 
    padding: 15px 0;
}
.popular-item-details span{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.popular-item-details span span{
    color: #5E6366;
    font-size: 15px;
}
.popular-item-details span .fa-star{
    color: #FB8200;
  
}
.popular-item-details p{
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 700;
    color: #787885;
    padding-top: 10px;
}
.see-more{
    float: right;
}
.see-more a{
    text-decoration: none;
    color: #E02C6D;
    float: right;
}

.featured-products-area{
    padding: 80px 0;
}
.featured-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;

    
}
.featured-product-img{
   
}
.featured-product-img img{

}
.featured-product-details{
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.featured-product-details h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;

}
.featured-product-details p{
    margin: 10px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.featured-product-details button{
    background-color: #E02C6D;
    border: none;
    color: #FFFFFF;
    padding: 15px 20px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
}

/* Footer area */

footer{
    background-color: #0A0826;
    padding: 80px 0;
    color: #FFFFFF;
    text-align: center;
}
footer h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}
footer p{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #D9DBE1;
}